/* regular font */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
/* monospace font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "reddit sans";
  color: rgb(20,20,20);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-style: bold;
}

table, tbody, tr, th, td {
  border-collapse: collapse;
}

code {
  display: inline;
  font-family: 'jetbrains mono';
  color: rgb(195,195,195);
  background-color: rgb(225,225,225);
  border: 1px solid rgb(175,175,175);
  border-radius: 4px;
}

.mainContainer {
  box-sizing: border-box;
}

/* sidebar */
.mainContainer .sidebar {
  background-color: rgb(20,20,20);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  max-width: 25%;
}

.mainContainer .sidebar ul {
  padding: 0;
  max-height: 30px;
  list-style-type: none;
  text-align: justify;
}

.mainContainer .sidebar ul li {
  color: white;
  margin: 3px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.mainContainer .sidebar ul li:hover {
  filter: brightness(115%);
}

.mainContainer .sidebar ul li a:link {
  text-decoration: none;
  color: white;
}

.mainContainer .sidebar ul li a:visited {
  text-decoration: none;
  color: white;
}

.mainContainer .sidebar ul li a:hover {
  text-decoration: none;
  filter: brightness(115%);
}

.mainContainer .sidebar ul li a:active {
  text-decoration: none;
  filter: brightness(115%);
}

/* main content */
.mainContainer .mainContent {
}

.mainContainer .mainContent p {
  margin: 0;
  padding: 0;
}
