/* regular font */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
/* monospace font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "reddit sans";
  color: rgb(235,235,235);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-style: bold;
}

code {
  display: inline;
  font-family: 'jetbrains mono';
  color: rgb(195,195,195);
  background-color: rgb(225,225,225);
  border: 1px solid rgb(175,175,175);
  border-radius: 4px;
}

.mainContainer {
  box-sizing: border-box;
}

/* sidebar */
.mainContainer .sidebar {
  background-color: rgb(20,20,20);
  border-right: 1px solid white;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 820px;
  max-width: 25%;
}

.mainContainer .sidebar ul {
  padding: 0;
  max-height: 30px;
  list-style-type: none;
}

.mainContainer .sidebar ul li {
  color: white;
  margin: 3px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* main content */
.mainContainer .mainContent {
  float: left;
}

.mainContainer .mainContent p {
  margin: 0;
  padding: 0;
}
