/* regular font */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
/* monospace font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "reddit sans";
  color: rgb(20,20,20);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-style: bold;
}

table, tbody, tr, th, td {
  border-collapse: collapse;
}

ilcode {
  display: inline;
  font-family: 'jetbrains mono';
  color: rgb(34, 34, 34);
  background-color: rgb(225,225,225);
  border: 1px solid rgb(175,175,175);
  border-radius: 4px;
  padding: -2px 1.5px;
}

.mainContainer {
  box-sizing: border-box;
}

/* sidebar */
.mainContainer .sidebar {
  padding: 0 8px;
  background-color: rgb(20,20,20);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  max-width: 25%;
}

.mainContainer .sidebar {
  padding: 0;
  max-height: 30px;
  list-style-type: none;
  top: 0;
  position: sticky;
}

.mainContainer .sidebar ul hr {
  width: 90%;
}

.mainContainer .sidebar ul li {
  color: white;
  margin: 10px 0;
  padding: 5px 0;
}

.mainContainer .sidebar ul li:hover {
  filter: brightness(90%);
}

.mainContainer .sidebar li a:link {
  text-decoration: none;
  color: white;
}

.mainContainer .sidebar li a:visited {
  text-decoration: none;
  color: white;
}

.mainContainer .sidebar li a:hover {
  text-decoration: none;
  filter: brightness(90%);
}

.mainContainer .sidebar li a:active {
  text-decoration: none;
  filter: brightness(115%);
}

/* main content */
.mainContainer .mainContent {
  padding-left: 6px;
  max-width: 75%;
}

.mainContainer .mainContent p {
  margin: 0;
  padding: 0;
}

